// Table of Contents

// See mark-down file for how to use compass' rhythm and trailer/leader functions or check the compass documentation
// -------------------------------------------------------------

// ::Imports pre-render
	//:: Reset
	//:: Settings
	//:: Mixins
// ::Clearfix extends
// ::Base styles

// ::Layout styles
// ::Media queries
// ::State styles
// ::Debugs



// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "bourbon";
@import "compass/utilities";

@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/carousel";





/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */

// CHOOSE YOUR CLEARFIX, OR YOU KNOW USE BOTH. WHATEVER, I'M NOT YOUR MOTHER

// Use clearfix if you need general clearfixing
.clearfix 			{ @include clearfix; }


// OTHER EXTENDS

// Max width, for images etc... in RWD
.max-width 			{ max-width: 100%; height: auto; }



/* ::Base styles Almost exclusively single element selectors */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
}

body {
	color: $base-color;
	background:#490840;
	font-family: Helvetica, Arial, sans-serif;
	overflow-x:hidden;
}

a {
	color: $action;
	@include force-wrap;					// force text links to wrap
	&:hover, &:focus, &:active {
		color: $action-respond
	}
}

// Import base typography into the cascade (if required)
@import "libs/typography";


// Import form styles into the cascade (if required)
@import "libs/forms";



// -------------------------------------------------------------------------------------------------------

// All the below can be removed if need be

// -------------------------------------------------------------------------------------------------------


header {
	background:url('../img/header-background.png') top center repeat-x;
	height:169px;
	width:100%;
	min-width:1066px;
	z-index:9999;
	position:relative;

	.inner {
		width:1066px;
		margin:auto;

		.logo {
			width:346px;
			height:207px;
			float:left;
			background:url('../img/logo-background.png') no-repeat;

			a {
				width:168px;
				height:76px;
				background:url('../img/ideas-foundation-logo.png');
				display:block;
				margin:auto;
				margin-top:30px;
			}
		}

		.nav {
			float:left;
			@include mainfont;
			font-size:30px;
			text-decoration: none;
			list-style:none;
			margin-top:45px;
			margin-bottom: 0;

			li {
				float:left;
				// padding:0px 15px;
				a {
					text-decoration: none;
					min-width:93px;
					min-height:66px;
					display:block;
					text-align:center;
					background:none;
					padding-top:7px;
					font-size:21px;
					@include transition(all 0.3s ease-in-out);

					&:hover {
						@include transition(all 0.3s ease-in-out);
						background:url('../img/nav-hover.png') no-repeat 0 0;
						color:#E52191;
					}

					&.active {
						background:url('../img/nav-hover.png') no-repeat; 
						@include transition(all 0.3s ease-in-out);
						color:#E52191;
					}
				}

				&.seperate {
					padding-top:7px;
					margin-left:15px;
				}
			}
		}

		.social-section {
			float:left;
			list-style:none;
			margin-top:55px;
			margin-left:15px;

			li {
				float:left;

				a {
					margin-left:5px;
					margin-right:5px;
					display:block;
					width:24px;
					height:25px;
					background:url('../img/social-sprite.png') no-repeat 0 0;
					@include transition(all 0.3s ease-in-out);

					&:hover {
						@include transition(all 0.3s ease-in-out);
						background-position:0px -25px;
					}

					&.facebook {
						background-position: -53px 0;

						&:hover {
							background-position: -53px -25px;
						}
					}

					&.youtube {
						background-position: -87px 0;

						&:hover {
							background-position:-87px -25px;
						}
					}

					&.vimeo {
						background-position: -130px 0;

						&:hover {
							background-position:-130px -25px;
						}
					}
				}
			}
		}
	}
}


.end-section {
	width: 1600px;
	margin:auto;

	&.home {
		max-width:1600px;
		width:100%;
		min-height:171px;
		background:url('../img/home/home-end.png');

	}

	&.what {
		max-width:1600px;
		width:100%;
		min-height:147px;
		background:url('../img/who/who-devide.png') no-repeat;
	}

	&.who {
		max-width:1600px;
		width:100%;
		min-height:229px;
		background:url('../img/us/us-devide.png');
		-webkit-background-size:cover;
		-moz-background-size:cover;
		background-size:cover;
	}

	&.blog {
		max-width:1600px;
		width:100%;
		min-height:181px;
		background:url('../img/blog/blog-devide.jpg');
		-webkit-background-size:cover;
		-moz-background-size:cover;
		background-size:cover;
	}

	&.footer {
		max-width:1600px;
		width:100%;
		min-height:149px;
		background:url('../img/blog/footer-divide.jpg');
		-webkit-background-size:cover;
		-moz-background-size:cover;
		background-size:cover;
	}
}

a.cta {
	background:url('../img/main-sprite.png')-373px -84px;
	width: 174px;
	height: 63px;
	margin:auto;
	display:block;
	@include hide-text(left);

	&:hover {
		background-position: -373px -149px;
	}
}

#home {
	// max-width:1600px;
	width:100%;
	height:730px;
	background:url('../img/home/home-background.png') top center no-repeat;
	margin:auto;
	margin-top:-30px;
	position:relative;

	.main {
		// overflow:hidden;
		width:100%;
		position:absolute;
		top:68px;
		height:300px;
		z-index:999;

		&.triggered {
			overflow: hidden;
			width: 798px;
			position: absolute;
			height: 300px;
			z-index: 999999999;
			float: left;
			top: 68px;
			left:0;
		}
	}

	.banner {
		position:absolute;
		left:-695px;
		top:60px;
		width:495px;
		height:153px;
		background:url('../img/home/banner.png') no-repeat;

		.plane {
			position:absolute;
			right:0px;
			top:0;
			width:270px;
			height:116px;
			background:url('../img/home/plane.png') no-repeat;
		}
	}

	.inner {
		width:100%;
		height:300px;
		position:absolute;
		top:0;
		left:0;
		z-index:9999;

		.sub-inset {
			width:1015px;
			margin:auto;
			padding-top:49px;
			position:relative;

			.welcome {
				@include mainfont;
				// display:block;
				font-size:38px;
				@include rotate(-10deg);
				margin-left: 69px;
				display:none;
				float:left;
				margin-top: 60px;
			}

			.notepad-section {
				margin-top:171px;
				position:relative;
				z-index:-9;
				width:475px;
				height:342px;
				background:url('../img/home/dashed-notepad.png') no-repeat;
				margin-left:10px;
				padding-top:69px;

				ul {
					margin:0;
					padding:0;
					list-style:none;
					margin-left:50px;


					li {
						@include mainfont;
						font-size: 20px;
						color:$headingpurple;
						margin-bottom: 43px;
						line-height:32px;

						&:nth-child(2) {
							margin-bottom:63px;
						}

						&.two {
							margin-bottom:55px;
						}
					}
				}
			}

			.speech-cloud {
				position:absolute;
				right:0;
				top:66px;
				width:253px;
				height:156px;
				background:url('../img/home/check-out-cloud.png') no-repeat;
				z-index:-1;
			}

			.video-holder {
				position:absolute;
				right:0;
				top:230px;
				background:url('../img/home/video-background.png') no-repeat;
				width:511px;
				height:328px;

				.video {
					margin:auto;
					width:475px;
					height:300px;
					margin-top:17px;
				}
			}

			.cloud-2 {
				width:233px;
				height:148px;
				background:url('../img/home/second-cloud.png') no-repeat;
				float:left;
				margin-top:30px;
			}

			#sub-carousel {
				float:left;
				width:775px;
				margin-left:0px;
				margin-top: 65px;

				a {
					margin-right:30px;
				}
			}
		}
	}
}



#what-we-do {
	max-width:1600px;
	width:100%;
	margin:auto;
	height:2144px;
	background:url('../img/what-we-do-background.jpg') repeat-x;

	.inner {
		width:1010px;
		margin:auto;
	}

	h2 {
		background: url('../img/element-sprite.png') no-repeat -681px -5px;
		width: 401px;
		height: 113px;
		margin:auto;
		color:white;
		font-size:35px;
		@include mainfont;
		text-align:center;
		text-transform: uppercase;
		padding-top:45px;
	}

	.creative {
		margin-top:50px;
		background: url('../img/what/content-backgrounds.png') no-repeat -1px 0;
		width: 471px;
		height: 1032px;
		float:left;
		position:relative;
		padding-top:165px;
		z-index:99;


		.content {
			color:$headingpurple;
			@include mainfont;
			font-size:24px;
			width:350px;
			margin:auto;
			margin-top:180px;
			text-align:center;
		}
	}
	
	.incubate {
		margin-top:65px;
		background: url('../img/what/content-backgrounds.png') no-repeat -519px -24px;
		width: 481px;
		height: 1009px;
		float:right;
		position:relative;
		padding-top: 165px;
		z-index:99;
		margin-bottom: 100px;


		.content {
			color:white;
			@include mainfont;
			font-size:24px;
			width:350px;
			margin:auto;
			// text-transform:uppercase;
			text-transform:none;
			margin-top:165px;
			text-align:center;
		}
	}

	.ladder {
		background: url('../img/what/the-ladder.png') no-repeat;
		width:870px;
		height:619px;
		margin:auto;
		margin-top: 30px;
		position:relative;

		.content {
			color:#51435f;
			@include mainfont;
			font-size:24px;
			// text-transform: uppercase;
			margin-top:135px;
			text-align: center;
			padding:70px;
		}
	}
}

a.nextpage {
	border-radius: 50%;
	width: 50px;
	height: 50px; 
	display:block;
	margin:auto;
	position: relative;

	span {
		width:20px;
		height:20px;
		display:block;
		background:url('../img/element-sprite.png') no-repeat 0 0;
		margin:auto;
	}

	&.who-we-work {

		background:#F9267E;
		padding-top:14px;
		margin-top: 100px;
		position: relative;
	}
}

#diversity {
	background:url('../img/diversity-bg.jpg') repeat-x;
	max-width:1600px;
	width:100%;
	min-height:837px;
	position:relative;
	margin: auto;

	.inner {
		width:870px;
		margin:auto;

		.diversity-element {
			width:870px;
			height:544px;
			background:url('../img/diversity/diversity-element.png') top center no-repeat;

			.content {
				clear:both;
				color:#51435f;
				@include mainfont;
				font-size:24px;
				width:700px;
				margin:auto;
				padding-top:153px;
				// text-transform:uppercase;
				text-align:center;
			}
		}
	}
}

#who-we-work {
	background:url('../img/pink-background.png') repeat-x;
	max-width:1600px;
	width:100%;
	min-height:1062px;
	position: relative;
	margin:auto;

	.inner {
		width:866px;
		margin:auto;

		h2 {
			background: url('../img/element-sprite.png') no-repeat -611px -137px;
			width: 607px;
			height: 103px;
			margin:auto;
			color:white;
			font-size:35px;
			@include mainfont;
			font-weight:normal;
			text-align:center;
			text-transform: uppercase;
			padding-top:30px;
		}

		#focal {
			width:886px;
			height:706px;
			background:url('../img/who/who-elements.png') no-repeat;
			margin-top: 75px;
			position:relative;

			figure.polaroid {
				width:419px;
				height:507px;
				background:url('../img/who/polaroid-image.png') no-repeat;
				position:absolute;
				right:0;
				top:0;
				transform:rotate(-5deg);
				-ms-transform:rotate(-5deg); /* IE 9 */
				-webkit-transform:rotate(-5deg); /* Safari and Chrome */

				img {
					margin-top:48px;
					margin-left:24px;
				}
			}

			.tab-section {
				background:none;
				margin-left:50px;
				margin-top:50px;
				position: relative;

				.line-span {
					width:341px;
					height:10px;
					background:url('../img/element-sprite.png') no-repeat 0 -18px;
					position:absolute;
					top:85px;
					left:0;
				}

				ul {
					padding-bottom:30px;
					li {
						a {
							padding-top:15px;
							&.first {
								width:105px;
								height:51px;
								display:block;
								background-position: 0 -35px;
								margin-right: 10px;

								&:hover, &.active {
									background-position: 0 -102px;
								}
							}

							&.second {
								width:105px;
								height:53px;
								background-position: -120px -33px;
								margin-right: 10px;

								&:hover, &.active {
									background-position: -120px -100px;
								}
							}

							&.third {
								width:105px;
								height:50px;
								background-position: -239px -38px;
								margin-top: 3px;

								&:hover, &.active {
									background-position: -239px -105px
								}	
							}
						}
					}
				}
			}

			.testimonial {
				margin-top:30px;
				position:relative;
				// height:30px;
				// background:red;
				width:775px;
				margin-left:50px;
				clear:both;
				display:none;

				&.active {
					display:block;
				}

				.line-break {
					background:url('../img/element-sprite.png') no-repeat -5px -385px;
					width:100%;
					height:18px;
				}
				figure {
					float:left;
					img {
						margin-top:15px;
						margin-left: 15px;
						border-radius: 50%;
						width: 115px;
						height: 115px;
						border:5px solid white;
					}
				}

				.copy {
					float:left;
					margin-left:50px;
					font-size:12px;
					font-family:$helvetica;
					color:white;
					margin-top:50px;
					width: 550px;
				}

				.author {
					float:right;
					color:white;
					@include mainfont;
					font-size:24px;
					margin-top:20px;
				}
			}
		}

		#logo-carousel {
			width:703px;
			margin:auto;
			margin-top:30px;
			
			i {
				background: url('../img/element-sprite.png') no-repeat;
				display:block;

				&.left-arrow {
					width: 14px;
					height: 27px;
					background-position: -5px -173px;
				}

				&.right-arrow {
					width: 14px;
					height: 26px;
					background-position: -34px -174px;
				}
			}
		}
	}
}

#us {
	background:url('../img/us/us-background.png') repeat-x top center;
	max-width:1600px;
	width:100%;
	min-height:915px;
	position:relative;
	margin:auto;
	.inner {
		width:880px;
		margin:auto;
	}

	h2 {
		background: url('../img/element-sprite.png') no-repeat -681px -5px;
		width: 401px;
		height: 113px;
		margin:auto;
		color:white;
		font-size:35px;
		@include mainfont;
		text-align:center;
		text-transform: uppercase;
		padding-top:45px;
	}

	#about-cats {
		background:url('../img/us/content-background.png') 0 0;
		width: 435px;
		height: 579px;
		margin-top: 100px;
		float:left;

		.tab-section {
			width:370px;
			margin:auto;
			background:none;
			float:none;
			padding-top:45px;
			position:relative;

			.line-span {
				width:341px;
				height:10px;
				background:url('../img/element-sprite.png') no-repeat 0 -18px;
				position:absolute;
				top:240px;
				left:15px;;
			}

			ul {
				margin-left:30px;

				li {
					a {
						color:#473252;
						font-size:30px;
						padding-top:30px;

						&:hover, &.active {
							color:white;
						}
						&.first {
							background: url('../img/element-sprite.png') no-repeat 0 -213px;
							width: 159px;
							height: 77px;

							&:hover, &.active {
								background-position:0 -299px;
							}
						}

						&.second {
							background: url('../img/element-sprite.png') no-repeat -174px -210px;
							width: 137px;
							height: 80px;
							margin-left:10px;

							&:hover, &.active {
								background-position: -174px -296px;
							}
						}

						&.third {
							background: url('../img/element-sprite.png') no-repeat -323px -218px;
							width: 289px;
							height: 76px;
							margin-top:10px;

							&:hover, &.active {
								background-position: -323px -304px;
							}
						}
					}
				}
			}

			.tab-content {
				p {
					font-size:18px;
					text-align: center;
				}
			}
		}
	}

	.trustees-cont {
		background: url('../img/us/content-background.png') no-repeat -449px -5px;
		width: 428px;
		height: 515px;
		float:left;
		margin-top: 100px;
		position:relative;

		&.staff, &.scholars-council {
			display:none;
		}

		h3 {
			color:white;
			font-size:29px;
			@include mainfont;
			margin-left:50px;
			margin-top: 60px;
			text-transform: uppercase;
		}

		.line-break {
			width:341px;
			height:10px;
			background:url('../img/element-sprite.png') no-repeat 0 -18px;
			margin:auto;
		}

		.jcarousel {
			position: relative;
			overflow: hidden;
			/* You need at least a height, adjust this to your needs */
			height: 300px;
			width:300px;
			margin:auto;
			margin-top: 60px;
		}

		.jcarousel ul {
			width: 20000em;
			position: absolute;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.jcarousel li {
			width:300px;
			// height:100px;
			margin-bottom: 50px;
			clear:both;

			figure {
				float:left;

				img {
					border-radius:50%;
					border:2px solid white;
				}
			}

			.sub-content {
				float:left;
				font-family:$helvetica;
				color:white;
				width:188px;
				font-size:11px;
				margin-left:15px;

				p.title {
					font-weight:bold;
				}
			}
		}

		.paginated {
			position:absolute;
			top:55px;
			right:25px;

			a {
				color:white;
				text-decoration:none;
				background: url('../img/element-sprite.png') no-repeat -391px -41px;
				width: 34px;
				height: 38px;
				display:block;
				float:left;

				&.jcarousel-control-next {
					margin-left: 10px;
					background-position: -433px -41px;
				}
			}
		}
	}
}

#blog {
	max-width:1600px;
	width:100%;
	height:914px;
	background:url('../img/blog/blog-background.jpg') repeat-x top center;
	position: relative;
	margin:auto;

	.inner {
		width:834px;
		margin:auto;
	}

	h2 {
		background: url('../img/element-sprite.png') no-repeat -611px -137px;
		width: 607px;
		height: 103px;
		margin:auto;
		color:white;
		font-size:40px;
		@include mainfont;
		font-weight:normal;
		text-align:center;
		text-transform: uppercase;
		padding-top:30px;
	}

	.blog-articles {
		margin-top: 100px;
		height:519px;
		position:relative;
		article {
			float:left;
			background: url('../img/blog/content-background.png') no-repeat -10px 0;
			margin-bottom:30px;

			&.one {
				width:406px;
				height:226px;
			}

			&.two {
				background-position: -425px -8px;
				width: 409px;
				height: 221px;
				margin-top: 13px;
				margin-left: 19px;
			}

			&.three {
				width:407px;
				height:225px;
				background-position: 0 -248px;
			}

			&.four {
				width:412px;
				height:222px;
				background-position: -414px -251px;
				margin-left: 14px;
			}

			figure {
				border:3px solid white;
				float:left;
				margin-left:25px;
				margin-top:30px;
				@include box-shadow(black 2px 2px 10px);

				img {
					display:block;
				}
			}

			.blog-content {
				margin-left:25px;
				float:left;
				width:170px;
				h3 {
					margin-top: 30px;
					@include mainfont;
					font-size:16px;
					color:white;
					text-transform: uppercase;
				}

				p {
					font-size:10px;
					color:white;
					display:inline;
				}

				a {
					display:inline;
					font-size:10px;
					font-weight:bold;
					color:white;
					text-decoration: none;

					&:hover {
						color:$contentpink;
					}
				}
			}
		}
	}
}

.blog-drops {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	article {
		display:none;
		width:886px;
		height:706px;
		background:url('../img/who/who-elements.png') no-repeat;
		margin-top: 120px;
		position:relative;
		margin:auto;

		figure.polaroid {
			width: 267px;
			height: 329px;
			background:url('../img/who/polaroid-image.png') no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
			position:absolute;
			right:0;
			top:0;
			z-index:9999;
			transform:rotate(-5deg);
				-ms-transform:rotate(-5deg); /* IE 9 */
				-webkit-transform:rotate(-5deg); /* Safari and Chrome */

				img {
					margin-top: 30px;
					margin-left: 15px;
					width: 90%;
				}

				&.secondary {
					top: 345px;
					transform: rotate(7deg);
					-ms-transform: rotate(7deg);
					-webkit-transform: rotate(7deg);
				}
			}

			.tab-section {
				background:none;
				margin-left:50px;
				margin-top:50px;
				position: relative;
				width:564px;

				h3 {
					color:white;
					@include mainfont;
					text-transform: uppercase;
					margin-bottom: 0;
				}

				.tab-content {
					margin-top:40px;
					display:block;
					min-height:380px;
				}

				.line-span {
					background:url('../img/element-sprite.png') no-repeat -5px -385px;
					width:100%;
					height:18px;
					position:absolute;
					top:65px;
					left:0;
				}

				p  {
					font-size:12px;
					font-family:$helvetica;
					text-transform: none;
				}
			}

			.testimonial {
				margin-top:30px;
				position:relative;
				// height:30px;
				// background:red;
				width:775px;
				margin-left:50px;

				.close-blog {
					width:105px;
					height:51px;
					display:block;
					margin-right: 10px;
					background:url('../img/element-sprite.png') no-repeat 0 -35px;
					text-align:center;
					@include mainfont;
					font-size:22px;
					text-decoration: none;
					padding-top:0px;
					margin-top: 20px;
					line-height:22px;

					&:hover, &.active {
						background-position: 0 -102px;
					}

				}

				.line-break {
					background:url('../img/element-sprite.png') no-repeat -5px -385px;
					width:100%;
					height:18px;
				}
				figure {
					float:left;
					img {
						margin-top:15px;
						margin-left: 15px;
						border-radius: 50%;
						width: 115px;
						height: 115px;
						border:5px solid white;
					}
				}

				.copy {
					float:left;
					margin-left:50px;
					font-size:12px;
					font-family:$helvetica;
					color:white;
					margin-top:50px;
					width: 550px;
				}

				.author {
					float:right;
					color:white;
					@include mainfont;
					font-size:20px;
					margin-top:20px;
				}
			}
		}
	}

	.tab-section {
		float:left;
		width:400px;
		background:red;

		ul {
			list-style:none;
			margin:0;

			li {
				float:left;

				a {
					color:white;
					display:block;
					text-decoration: none;
					@include mainfont;
					font-size:22px;
					text-transform:uppercase;
					text-align: center;
					background:url('../img/element-sprite.png') no-repeat;
					color:$lblue;

					&.active, &:hover {
						color:white;
					}
				}
			}
		}

		.tab-content {
			margin-top:50px;
			display:none;
			min-height:280px;

			&.active {
				display:block;
			}

			p {
				font-size:18px;
				@include mainfont;
				color:white;
				// text-transform: uppercase;
			}
		}
	}

	footer {
		width:100%;
		height:403px;
		background:url('../img/footer/footer-background.png') repeat-y;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		background-size:cover;

		.inner {
			width:800px;
			margin:auto;
			padding-top:50px;

			.col-1 {
				width:156px;
				float:left;
				text-align:left;
			}

			.col-2 {
				width:143px;
				float:left;
				text-align:left;
			}

			.col-3 {
				width:243px;
				float:left;
				text-align:left;
			}

			.col-4 {
				width:225px;
				float:left;
				text-align:right;
			}

			h3 {
				@include mainfont;
				text-transform: uppercase;
				font-size:24px;
				margin-bottom: 5px;
			}

			span {
				font-family:$helvetica;
				font-size:12px;
				color:#444e5a;
				text-decoration:none;
				line-height:25px;
			}

			ul {
				margin-top:0px;
				padding-top:0;
				list-style:none;
				li {
					a {
						font-family:$helvetica;
						font-size:12px;
						color:#444e5a;
						text-decoration:none;

						&:hover {
							color:$contentpink;
						}
					}
				}
			}
		}
	}

/* ::Media queries */
/* ------------------------------------------------------------ */

// If using gridset or another pre-defined grid, these should match up to the same breakpoints

// Below examples use a mobile-first approach


// Eg for 480px
@media screen and (min-width: em-font(480px)) {
	.container {
		width: 95%;
	}
}


// Eg for 800px
@media screen and (min-width: em-font(800px)) {
	.container {
		min-width: em-font(780px);
	}
}

// Eg for 1240px
@media screen and (min-width: em-font(1240px)) {
	.container {
		max-width: em-font(1080px);
	}
}

// Print styles
@media print {
	body {
		// Smaller type for printing. Save a tree
		font-size: percentage(10 / 16);
		@include adjust-leading-to(2);
	}
}


// IOS specifics
@media screen and (max-width: 769px) {  // Absolute measure here, as we're talking about devices, not screen size
	body {
		-webkit-text-size-adjust:none; 			// Stop iPhone/iPad from scaling text
	}
}


/* ::State styles */
/* ------------------------------------------------------------ */

.is-hidden {
	display: none;
}

.is-shown, .is-block {
	display: block;
}

.is-uppercase {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.is-lowercase {
	text-transform: lowercase;
}



/* ::Debugs and #grid by Jon Gibbins */
/* ----------------------------------------------------------- */

#grid {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#grid div.horiz{
	// Use this one NOT using a global border-box setting
	// height: $base-line-height - 1px;

	// Use this one if you ARE using a global border-box setting
	height: $base-line-height;

    // Carry on...
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 0;
}
