* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* 
 * 	Core Owl Carousel CSS File
 *	v1.21
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-perspective: 1000;
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Styling Next and Prev buttons */
.owl-controls .owl-buttons div {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}

.owl-controls .owl-buttons div {
  position: absolute;
}

.owl-controls .owl-buttons .owl-prev {
  left: -60px;
  top: -7px;
}

.owl-controls .owl-buttons .owl-next {
  right: -60px;
  top: -7px;
}

/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

.max-width {
  max-width: 100%;
  height: auto;
}

/* ::Base styles Almost exclusively single element selectors */
/* ------------------------------------------------------------ */
html {
  font-size: 100%;
}

body {
  color: #444e5a;
  background: #490840;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

a {
  color: #444e5a;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
a:hover, a:focus, a:active {
  color: #222222;
}

h1 {
  font-size: 2.25em;
  line-height: 1.1111111em;
  margin: 0 0 0.6666667em 0;
}

h2 {
  font-size: 1.875em;
  line-height: 1.3333333em;
  margin: 1.0666667em 0 0.5333333em 0;
}

h3 {
  font-size: 1.375em;
  line-height: 1.4545455em;
  margin: 1.4545455em 0 0.7272727em 0;
}

h4 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 0 0 0.4em 0;
}

h5 {
  font-size: 1.125em;
  line-height: 1.3333333em;
  margin: 0 0 0.4444444em 0;
}

h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 0.5em 0;
}

p, pre, label {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
}

ol, ul {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 2em 0;
}

li {
  line-height: auto;
}

ul {
  list-style-position: outside;
  list-style-type: disc;
}

ol {
  list-style-position: outside;
  list-style-type: decimal;
}

strong, b {
  font-weight: 600;
}

em, i, q {
  font-style: italic;
}

blockquote {
  padding-left: 1em;
  border-left: 0.3125em solid grey;
  line-height: normal;
  margin: 0;
}
blockquote p {
  font-style: italic;
  margin: 0;
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 1.2em 0 1.2em 0;
}

label, select {
  display: block;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

header {
  background: url("../img/header-background.png") top center repeat-x;
  height: 169px;
  width: 100%;
  min-width: 1066px;
  z-index: 9999;
  position: relative;
}
header .inner {
  width: 1066px;
  margin: auto;
}
header .inner .logo {
  width: 346px;
  height: 207px;
  float: left;
  background: url("../img/logo-background.png") no-repeat;
}
header .inner .logo a {
  width: 168px;
  height: 76px;
  background: url("../img/ideas-foundation-logo.png");
  display: block;
  margin: auto;
  margin-top: 30px;
}
header .inner .nav {
  float: left;
  font-family: 'Patrick Hand', cursive;
  font-size: 30px;
  text-decoration: none;
  list-style: none;
  margin-top: 45px;
  margin-bottom: 0;
}
header .inner .nav li {
  float: left;
}
header .inner .nav li a {
  text-decoration: none;
  min-width: 93px;
  min-height: 66px;
  display: block;
  text-align: center;
  background: none;
  padding-top: 7px;
  font-size: 21px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out false;
  -o-transition: all 0.3s ease-in-out false;
  transition: all 0.3s ease-in-out;
}
header .inner .nav li a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out false;
  -o-transition: all 0.3s ease-in-out false;
  transition: all 0.3s ease-in-out;
  background: url("../img/nav-hover.png") no-repeat 0 0;
  color: #E52191;
}
header .inner .nav li a.active {
  background: url("../img/nav-hover.png") no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out false;
  -o-transition: all 0.3s ease-in-out false;
  transition: all 0.3s ease-in-out;
  color: #E52191;
}
header .inner .nav li.seperate {
  padding-top: 7px;
  margin-left: 15px;
}
header .inner .social-section {
  float: left;
  list-style: none;
  margin-top: 55px;
  margin-left: 15px;
}
header .inner .social-section li {
  float: left;
}
header .inner .social-section li a {
  margin-left: 5px;
  margin-right: 5px;
  display: block;
  width: 24px;
  height: 25px;
  background: url("../img/social-sprite.png") no-repeat 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out false;
  -o-transition: all 0.3s ease-in-out false;
  transition: all 0.3s ease-in-out;
}
header .inner .social-section li a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out false;
  -o-transition: all 0.3s ease-in-out false;
  transition: all 0.3s ease-in-out;
  background-position: 0px -25px;
}
header .inner .social-section li a.facebook {
  background-position: -53px 0;
}
header .inner .social-section li a.facebook:hover {
  background-position: -53px -25px;
}
header .inner .social-section li a.youtube {
  background-position: -87px 0;
}
header .inner .social-section li a.youtube:hover {
  background-position: -87px -25px;
}
header .inner .social-section li a.vimeo {
  background-position: -130px 0;
}
header .inner .social-section li a.vimeo:hover {
  background-position: -130px -25px;
}

.end-section {
  width: 1600px;
  margin: auto;
}
.end-section.home {
  max-width: 1600px;
  width: 100%;
  min-height: 171px;
  background: url("../img/home/home-end.png");
}
.end-section.what {
  max-width: 1600px;
  width: 100%;
  min-height: 147px;
  background: url("../img/who/who-devide.png") no-repeat;
}
.end-section.who {
  max-width: 1600px;
  width: 100%;
  min-height: 229px;
  background: url("../img/us/us-devide.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.end-section.blog {
  max-width: 1600px;
  width: 100%;
  min-height: 181px;
  background: url("../img/blog/blog-devide.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.end-section.footer {
  max-width: 1600px;
  width: 100%;
  min-height: 149px;
  background: url("../img/blog/footer-divide.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

a.cta {
  background: url("../img/main-sprite.png") -373px -84px;
  width: 174px;
  height: 63px;
  margin: auto;
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
a.cta:hover {
  background-position: -373px -149px;
}

#home {
  width: 100%;
  height: 730px;
  background: url("../img/home/home-background.png") top center no-repeat;
  margin: auto;
  margin-top: -30px;
  position: relative;
}
#home .main {
  width: 100%;
  position: absolute;
  top: 68px;
  height: 300px;
  z-index: 999;
}
#home .main.triggered {
  overflow: hidden;
  width: 798px;
  position: absolute;
  height: 300px;
  z-index: 999999999;
  float: left;
  top: 68px;
  left: 0;
}
#home .banner {
  position: absolute;
  left: -695px;
  top: 60px;
  width: 495px;
  height: 153px;
  background: url("../img/home/banner.png") no-repeat;
}
#home .banner .plane {
  position: absolute;
  right: 0px;
  top: 0;
  width: 270px;
  height: 116px;
  background: url("../img/home/plane.png") no-repeat;
}
#home .inner {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
#home .inner .sub-inset {
  width: 1015px;
  margin: auto;
  padding-top: 49px;
  position: relative;
}
#home .inner .sub-inset .welcome {
  font-family: 'Patrick Hand', cursive;
  font-size: 38px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin-left: 69px;
  display: none;
  float: left;
  margin-top: 60px;
}
#home .inner .sub-inset .notepad-section {
  margin-top: 171px;
  position: relative;
  z-index: -9;
  width: 475px;
  height: 342px;
  background: url("../img/home/dashed-notepad.png") no-repeat;
  margin-left: 10px;
  padding-top: 69px;
}
#home .inner .sub-inset .notepad-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 50px;
}
#home .inner .sub-inset .notepad-section ul li {
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
  color: #580d4d;
  margin-bottom: 43px;
  line-height: 32px;
}
#home .inner .sub-inset .notepad-section ul li:nth-child(2) {
  margin-bottom: 63px;
}
#home .inner .sub-inset .notepad-section ul li.two {
  margin-bottom: 55px;
}
#home .inner .sub-inset .speech-cloud {
  position: absolute;
  right: 0;
  top: 66px;
  width: 253px;
  height: 156px;
  background: url("../img/home/check-out-cloud.png") no-repeat;
  z-index: -1;
}
#home .inner .sub-inset .video-holder {
  position: absolute;
  right: 0;
  top: 230px;
  background: url("../img/home/video-background.png") no-repeat;
  width: 511px;
  height: 328px;
}
#home .inner .sub-inset .video-holder .video {
  margin: auto;
  width: 475px;
  height: 300px;
  margin-top: 17px;
}
#home .inner .sub-inset .cloud-2 {
  width: 233px;
  height: 148px;
  background: url("../img/home/second-cloud.png") no-repeat;
  float: left;
  margin-top: 30px;
}
#home .inner .sub-inset #sub-carousel {
  float: left;
  width: 775px;
  margin-left: 0px;
  margin-top: 65px;
}
#home .inner .sub-inset #sub-carousel a {
  margin-right: 30px;
}

#what-we-do {
  max-width: 1600px;
  width: 100%;
  margin: auto;
  height: 2144px;
  background: url("../img/what-we-do-background.jpg") repeat-x;
}
#what-we-do .inner {
  width: 1010px;
  margin: auto;
}
#what-we-do h2 {
  background: url("../img/element-sprite.png") no-repeat -681px -5px;
  width: 401px;
  height: 113px;
  margin: auto;
  color: white;
  font-size: 35px;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  text-transform: uppercase;
  padding-top: 45px;
}
#what-we-do .creative {
  margin-top: 50px;
  background: url("../img/what/content-backgrounds.png") no-repeat -1px 0;
  width: 471px;
  height: 1032px;
  float: left;
  position: relative;
  padding-top: 165px;
  z-index: 99;
}
#what-we-do .creative .content {
  color: #580d4d;
  font-family: 'Patrick Hand', cursive;
  font-size: 24px;
  width: 350px;
  margin: auto;
  margin-top: 180px;
  text-align: center;
}
#what-we-do .incubate {
  margin-top: 65px;
  background: url("../img/what/content-backgrounds.png") no-repeat -519px -24px;
  width: 481px;
  height: 1009px;
  float: right;
  position: relative;
  padding-top: 165px;
  z-index: 99;
  margin-bottom: 100px;
}
#what-we-do .incubate .content {
  color: white;
  font-family: 'Patrick Hand', cursive;
  font-size: 24px;
  width: 350px;
  margin: auto;
  text-transform: none;
  margin-top: 165px;
  text-align: center;
}
#what-we-do .ladder {
  background: url("../img/what/the-ladder.png") no-repeat;
  width: 870px;
  height: 619px;
  margin: auto;
  margin-top: 30px;
  position: relative;
}
#what-we-do .ladder .content {
  color: #51435f;
  font-family: 'Patrick Hand', cursive;
  font-size: 24px;
  margin-top: 135px;
  text-align: center;
  padding: 70px;
}

a.nextpage {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
  position: relative;
}
a.nextpage span {
  width: 20px;
  height: 20px;
  display: block;
  background: url("../img/element-sprite.png") no-repeat 0 0;
  margin: auto;
}
a.nextpage.who-we-work {
  background: #F9267E;
  padding-top: 14px;
  margin-top: 100px;
  position: relative;
}

#diversity {
  background: url("../img/diversity-bg.jpg") repeat-x;
  max-width: 1600px;
  width: 100%;
  min-height: 837px;
  position: relative;
  margin: auto;
}
#diversity .inner {
  width: 870px;
  margin: auto;
}
#diversity .inner .diversity-element {
  width: 870px;
  height: 544px;
  background: url("../img/diversity/diversity-element.png") top center no-repeat;
}
#diversity .inner .diversity-element .content {
  clear: both;
  color: #51435f;
  font-family: 'Patrick Hand', cursive;
  font-size: 24px;
  width: 700px;
  margin: auto;
  padding-top: 153px;
  text-align: center;
}

#who-we-work {
  background: url("../img/pink-background.png") repeat-x;
  max-width: 1600px;
  width: 100%;
  min-height: 1062px;
  position: relative;
  margin: auto;
}
#who-we-work .inner {
  width: 866px;
  margin: auto;
}
#who-we-work .inner h2 {
  background: url("../img/element-sprite.png") no-repeat -611px -137px;
  width: 607px;
  height: 103px;
  margin: auto;
  color: white;
  font-size: 35px;
  font-family: 'Patrick Hand', cursive;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
}
#who-we-work .inner #focal {
  width: 886px;
  height: 706px;
  background: url("../img/who/who-elements.png") no-repeat;
  margin-top: 75px;
  position: relative;
}
#who-we-work .inner #focal figure.polaroid {
  width: 419px;
  height: 507px;
  background: url("../img/who/polaroid-image.png") no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  /* IE 9 */
  -webkit-transform: rotate(-5deg);
  /* Safari and Chrome */
}
#who-we-work .inner #focal figure.polaroid img {
  margin-top: 48px;
  margin-left: 24px;
}
#who-we-work .inner #focal .tab-section {
  background: none;
  margin-left: 50px;
  margin-top: 50px;
  position: relative;
}
#who-we-work .inner #focal .tab-section .line-span {
  width: 341px;
  height: 10px;
  background: url("../img/element-sprite.png") no-repeat 0 -18px;
  position: absolute;
  top: 85px;
  left: 0;
}
#who-we-work .inner #focal .tab-section ul {
  padding-bottom: 30px;
}
#who-we-work .inner #focal .tab-section ul li a {
  padding-top: 15px;
}
#who-we-work .inner #focal .tab-section ul li a.first {
  width: 105px;
  height: 51px;
  display: block;
  background-position: 0 -35px;
  margin-right: 10px;
}
#who-we-work .inner #focal .tab-section ul li a.first:hover, #who-we-work .inner #focal .tab-section ul li a.first.active {
  background-position: 0 -102px;
}
#who-we-work .inner #focal .tab-section ul li a.second {
  width: 105px;
  height: 53px;
  background-position: -120px -33px;
  margin-right: 10px;
}
#who-we-work .inner #focal .tab-section ul li a.second:hover, #who-we-work .inner #focal .tab-section ul li a.second.active {
  background-position: -120px -100px;
}
#who-we-work .inner #focal .tab-section ul li a.third {
  width: 105px;
  height: 50px;
  background-position: -239px -38px;
  margin-top: 3px;
}
#who-we-work .inner #focal .tab-section ul li a.third:hover, #who-we-work .inner #focal .tab-section ul li a.third.active {
  background-position: -239px -105px;
}
#who-we-work .inner #focal .testimonial {
  margin-top: 30px;
  position: relative;
  width: 775px;
  margin-left: 50px;
  clear: both;
  display: none;
}
#who-we-work .inner #focal .testimonial.active {
  display: block;
}
#who-we-work .inner #focal .testimonial .line-break {
  background: url("../img/element-sprite.png") no-repeat -5px -385px;
  width: 100%;
  height: 18px;
}
#who-we-work .inner #focal .testimonial figure {
  float: left;
}
#who-we-work .inner #focal .testimonial figure img {
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 50%;
  width: 115px;
  height: 115px;
  border: 5px solid white;
}
#who-we-work .inner #focal .testimonial .copy {
  float: left;
  margin-left: 50px;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  margin-top: 50px;
  width: 550px;
}
#who-we-work .inner #focal .testimonial .author {
  float: right;
  color: white;
  font-family: 'Patrick Hand', cursive;
  font-size: 24px;
  margin-top: 20px;
}
#who-we-work .inner #logo-carousel {
  width: 703px;
  margin: auto;
  margin-top: 30px;
}
#who-we-work .inner #logo-carousel i {
  background: url("../img/element-sprite.png") no-repeat;
  display: block;
}
#who-we-work .inner #logo-carousel i.left-arrow {
  width: 14px;
  height: 27px;
  background-position: -5px -173px;
}
#who-we-work .inner #logo-carousel i.right-arrow {
  width: 14px;
  height: 26px;
  background-position: -34px -174px;
}

#us {
  background: url("../img/us/us-background.png") repeat-x top center;
  max-width: 1600px;
  width: 100%;
  min-height: 915px;
  position: relative;
  margin: auto;
}
#us .inner {
  width: 880px;
  margin: auto;
}
#us h2 {
  background: url("../img/element-sprite.png") no-repeat -681px -5px;
  width: 401px;
  height: 113px;
  margin: auto;
  color: white;
  font-size: 35px;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  text-transform: uppercase;
  padding-top: 45px;
}
#us #about-cats {
  background: url("../img/us/content-background.png") 0 0;
  width: 435px;
  height: 579px;
  margin-top: 100px;
  float: left;
}
#us #about-cats .tab-section {
  width: 370px;
  margin: auto;
  background: none;
  float: none;
  padding-top: 45px;
  position: relative;
}
#us #about-cats .tab-section .line-span {
  width: 341px;
  height: 10px;
  background: url("../img/element-sprite.png") no-repeat 0 -18px;
  position: absolute;
  top: 240px;
  left: 15px;
}
#us #about-cats .tab-section ul {
  margin-left: 30px;
}
#us #about-cats .tab-section ul li a {
  color: #473252;
  font-size: 30px;
  padding-top: 30px;
}
#us #about-cats .tab-section ul li a:hover, #us #about-cats .tab-section ul li a.active {
  color: white;
}
#us #about-cats .tab-section ul li a.first {
  background: url("../img/element-sprite.png") no-repeat 0 -213px;
  width: 159px;
  height: 77px;
}
#us #about-cats .tab-section ul li a.first:hover, #us #about-cats .tab-section ul li a.first.active {
  background-position: 0 -299px;
}
#us #about-cats .tab-section ul li a.second {
  background: url("../img/element-sprite.png") no-repeat -174px -210px;
  width: 137px;
  height: 80px;
  margin-left: 10px;
}
#us #about-cats .tab-section ul li a.second:hover, #us #about-cats .tab-section ul li a.second.active {
  background-position: -174px -296px;
}
#us #about-cats .tab-section ul li a.third {
  background: url("../img/element-sprite.png") no-repeat -323px -218px;
  width: 289px;
  height: 76px;
  margin-top: 10px;
}
#us #about-cats .tab-section ul li a.third:hover, #us #about-cats .tab-section ul li a.third.active {
  background-position: -323px -304px;
}
#us #about-cats .tab-section .tab-content p {
  font-size: 18px;
  text-align: center;
}
#us .trustees-cont {
  background: url("../img/us/content-background.png") no-repeat -449px -5px;
  width: 428px;
  height: 515px;
  float: left;
  margin-top: 100px;
  position: relative;
}
#us .trustees-cont.staff, #us .trustees-cont.scholars-council {
  display: none;
}
#us .trustees-cont h3 {
  color: white;
  font-size: 29px;
  font-family: 'Patrick Hand', cursive;
  margin-left: 50px;
  margin-top: 60px;
  text-transform: uppercase;
}
#us .trustees-cont .line-break {
  width: 341px;
  height: 10px;
  background: url("../img/element-sprite.png") no-repeat 0 -18px;
  margin: auto;
}
#us .trustees-cont .jcarousel {
  position: relative;
  overflow: hidden;
  /* You need at least a height, adjust this to your needs */
  height: 300px;
  width: 300px;
  margin: auto;
  margin-top: 60px;
}
#us .trustees-cont .jcarousel ul {
  width: 20000em;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
}
#us .trustees-cont .jcarousel li {
  width: 300px;
  margin-bottom: 50px;
  clear: both;
}
#us .trustees-cont .jcarousel li figure {
  float: left;
}
#us .trustees-cont .jcarousel li figure img {
  border-radius: 50%;
  border: 2px solid white;
}
#us .trustees-cont .jcarousel li .sub-content {
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  width: 188px;
  font-size: 11px;
  margin-left: 15px;
}
#us .trustees-cont .jcarousel li .sub-content p.title {
  font-weight: bold;
}
#us .trustees-cont .paginated {
  position: absolute;
  top: 55px;
  right: 25px;
}
#us .trustees-cont .paginated a {
  color: white;
  text-decoration: none;
  background: url("../img/element-sprite.png") no-repeat -391px -41px;
  width: 34px;
  height: 38px;
  display: block;
  float: left;
}
#us .trustees-cont .paginated a.jcarousel-control-next {
  margin-left: 10px;
  background-position: -433px -41px;
}

#blog {
  max-width: 1600px;
  width: 100%;
  height: 914px;
  background: url("../img/blog/blog-background.jpg") repeat-x top center;
  position: relative;
  margin: auto;
}
#blog .inner {
  width: 834px;
  margin: auto;
}
#blog h2 {
  background: url("../img/element-sprite.png") no-repeat -611px -137px;
  width: 607px;
  height: 103px;
  margin: auto;
  color: white;
  font-size: 40px;
  font-family: 'Patrick Hand', cursive;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
}
#blog .blog-articles {
  margin-top: 100px;
  height: 519px;
  position: relative;
}
#blog .blog-articles article {
  float: left;
  background: url("../img/blog/content-background.png") no-repeat -10px 0;
  margin-bottom: 30px;
}
#blog .blog-articles article.one {
  width: 406px;
  height: 226px;
}
#blog .blog-articles article.two {
  background-position: -425px -8px;
  width: 409px;
  height: 221px;
  margin-top: 13px;
  margin-left: 19px;
}
#blog .blog-articles article.three {
  width: 407px;
  height: 225px;
  background-position: 0 -248px;
}
#blog .blog-articles article.four {
  width: 412px;
  height: 222px;
  background-position: -414px -251px;
  margin-left: 14px;
}
#blog .blog-articles article figure {
  border: 3px solid white;
  float: left;
  margin-left: 25px;
  margin-top: 30px;
  -webkit-box-shadow: black 2px 2px 10px;
  -moz-box-shadow: black 2px 2px 10px;
  box-shadow: black 2px 2px 10px;
}
#blog .blog-articles article figure img {
  display: block;
}
#blog .blog-articles article .blog-content {
  margin-left: 25px;
  float: left;
  width: 170px;
}
#blog .blog-articles article .blog-content h3 {
  margin-top: 30px;
  font-family: 'Patrick Hand', cursive;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}
#blog .blog-articles article .blog-content p {
  font-size: 10px;
  color: white;
  display: inline;
}
#blog .blog-articles article .blog-content a {
  display: inline;
  font-size: 10px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
#blog .blog-articles article .blog-content a:hover {
  color: #e5357b;
}

.blog-drops {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.blog-drops article {
  display: none;
  width: 886px;
  height: 706px;
  background: url("../img/who/who-elements.png") no-repeat;
  margin-top: 120px;
  position: relative;
  margin: auto;
}
.blog-drops article figure.polaroid {
  width: 267px;
  height: 329px;
  background: url("../img/who/polaroid-image.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
  transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  /* IE 9 */
  -webkit-transform: rotate(-5deg);
  /* Safari and Chrome */
}
.blog-drops article figure.polaroid img {
  margin-top: 30px;
  margin-left: 15px;
  width: 90%;
}
.blog-drops article figure.polaroid.secondary {
  top: 345px;
  transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
}
.blog-drops article .tab-section {
  background: none;
  margin-left: 50px;
  margin-top: 50px;
  position: relative;
  width: 564px;
}
.blog-drops article .tab-section h3 {
  color: white;
  font-family: 'Patrick Hand', cursive;
  text-transform: uppercase;
  margin-bottom: 0;
}
.blog-drops article .tab-section .tab-content {
  margin-top: 40px;
  display: block;
  min-height: 380px;
}
.blog-drops article .tab-section .line-span {
  background: url("../img/element-sprite.png") no-repeat -5px -385px;
  width: 100%;
  height: 18px;
  position: absolute;
  top: 65px;
  left: 0;
}
.blog-drops article .tab-section p {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
}
.blog-drops article .testimonial {
  margin-top: 30px;
  position: relative;
  width: 775px;
  margin-left: 50px;
}
.blog-drops article .testimonial .close-blog {
  width: 105px;
  height: 51px;
  display: block;
  margin-right: 10px;
  background: url("../img/element-sprite.png") no-repeat 0 -35px;
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  font-size: 22px;
  text-decoration: none;
  padding-top: 0px;
  margin-top: 20px;
  line-height: 22px;
}
.blog-drops article .testimonial .close-blog:hover, .blog-drops article .testimonial .close-blog.active {
  background-position: 0 -102px;
}
.blog-drops article .testimonial .line-break {
  background: url("../img/element-sprite.png") no-repeat -5px -385px;
  width: 100%;
  height: 18px;
}
.blog-drops article .testimonial figure {
  float: left;
}
.blog-drops article .testimonial figure img {
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 50%;
  width: 115px;
  height: 115px;
  border: 5px solid white;
}
.blog-drops article .testimonial .copy {
  float: left;
  margin-left: 50px;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  margin-top: 50px;
  width: 550px;
}
.blog-drops article .testimonial .author {
  float: right;
  color: white;
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
  margin-top: 20px;
}

.tab-section {
  float: left;
  width: 400px;
  background: red;
}
.tab-section ul {
  list-style: none;
  margin: 0;
}
.tab-section ul li {
  float: left;
}
.tab-section ul li a {
  color: white;
  display: block;
  text-decoration: none;
  font-family: 'Patrick Hand', cursive;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  background: url("../img/element-sprite.png") no-repeat;
  color: #40aece;
}
.tab-section ul li a.active, .tab-section ul li a:hover {
  color: white;
}
.tab-section .tab-content {
  margin-top: 50px;
  display: none;
  min-height: 280px;
}
.tab-section .tab-content.active {
  display: block;
}
.tab-section .tab-content p {
  font-size: 18px;
  font-family: 'Patrick Hand', cursive;
  color: white;
}

footer {
  width: 100%;
  height: 403px;
  background: url("../img/footer/footer-background.png") repeat-y;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
footer .inner {
  width: 800px;
  margin: auto;
  padding-top: 50px;
}
footer .inner .col-1 {
  width: 156px;
  float: left;
  text-align: left;
}
footer .inner .col-2 {
  width: 143px;
  float: left;
  text-align: left;
}
footer .inner .col-3 {
  width: 243px;
  float: left;
  text-align: left;
}
footer .inner .col-4 {
  width: 225px;
  float: left;
  text-align: right;
}
footer .inner h3 {
  font-family: 'Patrick Hand', cursive;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 5px;
}
footer .inner span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #444e5a;
  text-decoration: none;
  line-height: 25px;
}
footer .inner ul {
  margin-top: 0px;
  padding-top: 0;
  list-style: none;
}
footer .inner ul li a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #444e5a;
  text-decoration: none;
}
footer .inner ul li a:hover {
  color: #e5357b;
}

/* ::Media queries */
/* ------------------------------------------------------------ */
@media screen and (min-width: 30em) {
  .container {
    width: 95%;
  }
}
@media screen and (min-width: 50em) {
  .container {
    min-width: 48.75em;
  }
}
@media screen and (min-width: 77.5em) {
  .container {
    max-width: 67.5em;
  }
}
@media print {
  body {
    font-size: 62.5%;
    line-height: 1em;
  }
}
@media screen and (max-width: 769px) {
  body {
    -webkit-text-size-adjust: none;
  }
}
/* ::State styles */
/* ------------------------------------------------------------ */
.is-hidden {
  display: none;
}

.is-shown, .is-block {
  display: block;
}

.is-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.is-lowercase {
  text-transform: lowercase;
}

/* ::Debugs and #grid by Jon Gibbins */
/* ----------------------------------------------------------- */
#grid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#grid div.horiz {
  height: 8px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
}
