{exp:channel:entries channel="blog"}
<article class="{switch="one|two|three|four"}">
	<figure >
			{exp:imgsizer:size src="{thumbnail}" width="155" height="155"}
				<img src="{sized}">
			{/exp:imgsizer:size}
	</figure>
	<div class="blog-content">
		<h3>{title}</h3>
		{blog_content}<p>{exp:trunchtml chars="200"}{blog_content:copy}{/exp:trunchtml}</p>{/blog_content}
		<a href="#" class="read-more" data-id="{entry_id}">...Read More</a>
	</div>
</article>
{/exp:channel:entries}