{exp:channel:categories channel="carousel_item" show_empty="no" style="linear"}
<div class="trustees-cont {category_url_title}">
	<h3>{category_name}</h3>
	<div class="line-break"></div>
	<div class="jcarousel">
		<ul>
			{exp:channel:entries channel="carousel_item" category="{category_id}"}
			<li class="clearfix">
				<figure>
					{exp:imgsizer:size src="{member_image}" width="93" height="93"}
						<img src="{sized}" alt="{thumbnail:alt}">
					{/exp:imgsizer:size}
				</figure>
				<div class="sub-content">
					<p class="title">{title}</p>
					{about_member}
				</div>
			</li>
			{/exp:channel:entries}
		</ul>
	</div>

	<div class="paginated">
		<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
		<a href="#" class="jcarousel-control-next">&rsaquo;</a>
	</div>

</div>
{/exp:channel:categories}