<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
				<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

				<script src="js/vendor/stella.js"></script>
				<script src="js/vendor/owl.carousel.min.js"></script>
				<script src="js/vendor/jquery.jcarousel.min.js"></script>
				<script src="js/main.js"></script>
			</body>
			</html>