<footer>
	<div class="inner">
		<div class="col-1">
			<h3>Our Network</h3>
			<ul>
				<li><a href="#">link</a></li>
				<li><a href="#">link</a></li>
				<li><a href="#">link</a></li>
				<li><a href="#">link</a></li>
			</ul>
		</div>

		<div class="col-2">
			<h3>Chat To Us</h3>
			<ul>
				<li><a href="{twitter}">Twitter</a></li>
				<li><a href="{facebook}">Facebook</a></li>
				<li><a href="{youtube}">Youtube</a></li>
				<li><a href="{instagram}">Instagram</a></li>
			</ul>
		</div>

		<div class="col-3">
			<h3>Find Us</h3>
			<div class="address-section">
				<span>The ideas Foundation <br />
					c/o Oglivy & Mather <br />
					10 Cabot Square<br />
					London, E14 4QB
				</span>
			</div>
		</div>

		<div class="col-4">
			<h3>Newsletter</h3>
			<span>
				Subscribe below to kept in the loops
				with all happenings at Ideas Foundation.
			</span>
		</div>
	</div>
</footer>