{exp:channel:entries channel="blog" entry_id="{segment_3}"}
<article data-id="first-blog">
	<figure class="polaroid">
		{polaroid_1}
		{exp:imgsizer:size src="{url}" width="240" height="240"}
			<img src="{sized}" alt="{polaroid_1:alt}">
		{/exp:imgsizer:size}
		{/polaroid_1}
	</figure>

	<figure class="polaroid secondary">
		{polaroid_2}
		{exp:imgsizer:size src="{url}" width="240" height="240"}
			<img src="{sized}" alt="{polaroid_2:alt}">
		{/exp:imgsizer:size}
		{/polaroid_2}
	</figure>

	<div class="tab-section">
		<div class="line-span"></div>
		<h3>{title}</h3>

		<div class="tab-content">
			{blog_content}
				{if "{blog_content:heading}" !=''}
					<h3>{blog_content:heading}</h3>
				{/if}

				{blog_content:copy}
			{/blog_content}
		</div>
	</div>
	<div class="testimonial clearfix">
		<div class="line-break"></div>
		<a class="close-blog">
			CLOSE
		</a>
	</div>
</article>
{/exp:channel:entries}