			<header>
				<div class="inner">

					<div class="logo">
						<a href="/"></a>
					</div>

					<ul class="nav">
						<li><a class="active" href="#what-we-do">WHAT</a></li>
						<li><a href="#who-we-work">WITH</a></li>
						<li><a href="#us">WHO</a></li>
						<li><a href="#blog">BLOG</a></li>
						<li class="seperate">/</li>
					</ul>
					<ul class="social-section">
						<li><a href="#" class="twitter"></a></li>
						<li><a href="#" class="facebook"></a></li>
						<li><a href="#" class="youtube"></a></li>
						<li><a href="#" class="vimeo"></a></li>
					</ul>
				</div>
			</header>