{exp:channel:entries channel="home" limit="1" entry_id="1" dynamic="no"}
{embed="embeds/_header-meta" entryid="{entry_id}"}
{embed="embeds/_header"}

<section id="home">
	<div class="main">
		<div class="banner">
			<div class="plane"></div>
		</div>
	</div>



	<div class="inner">
		<div class="sub-inset">
			<div class="welcome">Hello! Welcome to the</div>
			<div class="notepad-section">
				<ul>
					{home_points}
					<li class="{switch="one|two|three"}">{home_points:point}</li>
					{/home_points}
				</ul>
			</div>

			<div class="speech-cloud"></div>

			<div class="video-holder">
				<div class="video">
					{home_video:embed width="475" height="290"}
				</div>
			</div>

			<div class="home-carousel">
				<div class="cloud-2"></div>
				<!-- CAROUSEl -->
				<div id="sub-carousel" class="owl-carousel">
					{home_partners}
					<a href="{home_partners:partner_website}"><img src="{home_partners:logo_image}"></a>
					{/home_partners}
				</div>
				<!-- // END CAROUSEL -->
			</div>
		</div>
	</div>
</section>
<div class="end-section home"></div>
<section id="what-we-do" >
	<div class="inner" >
		<h2 id="what-we-do-heading">What We Do...?</h2>
		<div class="creative">
			<span class="icon"></span>
			<div class="content">
				{wwd_creative_body}
			</div>

			{if "{wwd_creative_link}" !=''}<a href="{wwd_creative_link}" class="cta">View Site</a>{/if}
		</div>
		<div class="incubate">
			<span class="icon"></span>
			<div class="content">
				{wwd_incubate}
			</div>
			{if "{wwd_incubate_link}" !=''}<a href="{wwd_incubate_link}" class="cta">View Site</a>{/if}
		</div>

		<div class="ladder clearfix" >
			<div class="content">
				{wwd_the_ladder_body}
				<a href="{wwd_the_ladder_link}" class="cta">View Site</a>
			</div>

		</div>

		<a href="#" class="nextpage who-we-work"><span></span></a>
	</div>
</section>

<section id="diversity">
	<div class="inner">
		<div class="diversity-element">
			<div class="content">
				{diversity_body_copy}
				<a href="{diversity_link}" class="cta">View Site</a>
			</div>
		</div>
	</div>
</section>
<div class="end-section what"></div>

<section id="who-we-work" >
	<div class="inner">
		<h2>WHO WE WORK WITH...?</h2>
		<div id="focal" >

			<figure class="polaroid">
				{who_we_work_with row_id="1"}
				{exp:imgsizer:size src="{who_we_work_with:tab_image}" width="370" height="370"}
				<img src="{sized}">
				{/exp:imgsizer:size}
				{/who_we_work_with}
			</figure>

			<div class="tab-section">
				<div class="line-span"></div>
				<ul class="clearfix">
					{!-- The Tabs --}
					{who_we_work_with}
					<li><a class="{switch="first|second|third"} {if "{who_we_work_with:count}" == '1'}active{/if}" href="#{who_we_work_with:tab_title}" data-image="{exp:imgsizer:size src='{who_we_work_with:tab_image}'' width='370' height='370'}{sized}{/exp:imgsizer:size}">{who_we_work_with:tab_title}</a></li>
					{/who_we_work_with}
					{!-- // The Tabs --}
				</ul>

				{!-- The Tab Contents --}
				{who_we_work_with}
				<div class="tab-content {if "{who_we_work_with:count}" == '1'}active{/if}" id="{who_we_work_with:tab_title}" >
					{who_we_work_with:tab_body}
				</div>
				{/who_we_work_with}
				{!-- // The Tab Contents --}
			</div>
			
			{who_we_work_with}
			<div class="testimonial {if "{who_we_work_with:count}" == '1'}active{/if}" data-id="#{who_we_work_with:tab_title}">
				<div class="line-break"></div>
				<figure>
					{exp:imgsizer:size src="{who_we_work_with:testimonial_image}" width="125" height="125"}
					<img src="{sized}">
					{/exp:imgsizer:size}
				</figure>
				<div class="copy">
					{who_we_work_with:testimonial_content}
				</div>
				<div class="author">
					<span>- {who_we_work_with:testimonial_author}</span>
				</div>
			</div>
			{/who_we_work_with}
		</div>

		<!-- CAROUSEl -->
		<div id="logo-carousel" class="owl-carousel">

			{embed="embeds/_logos"}
		</div>
		<!-- // END CAROUSEL -->

	</div>
</section>
<div class="end-section who"></div>

<section id="us">
	<div class="inner">
		<h2>Who We Are...</h2>

		<div id="about-cats">
			<div class="tab-section">
				<div class="line-span"></div>
				<ul class="clearfix">

					{!-- The Tabs --}
					{who_we_are}
					<li><a class="{who_we_are:switch="third|first|second"} {if "{who_we_are:count}" == '1'}active{/if}" href="#{who_we_are:tab_title}" data-scroller="{who_we_are:tab_title}">{who_we_are:tab_title}</a></li>
					{/who_we_are}
					{!-- // The Tabs --}
				</ul>

				{!-- The Tab Contents --}
				{who_we_are}
				<div class="tab-content {if "{who_we_are:count}" == '1'}active{/if}" id="{who_we_are:tab_title}" >
					{who_we_are:tab_body}
				</div>
				{/who_we_are}
				{!-- // The Tab Contents --}
			</div>
		</div>


		{embed="embeds/_carousel"}
		
	</div>
</section>
<div class="end-section blog"></div>

<section id="blog">
	<div class="inner">
		<h2>BLOG</h2>

		<div class="blog-articles clearfix" >
			{embed="embeds/_blog"}
		</div>
	</div>
	<div class="blog-drops">
		
	</div>

</section>
<div class="end-section footer"></div>

{embed="embeds/_footer"}
{embed="embeds/_footer-meta"}
{/exp:channel:entries}